{% extends "base.html" %}
<!-- Page title for a class, which changes based on the class name -->
{% block title %}{{y_class['name']}}{% endblock %}

{% block content %}
    <div class="container mb-3">
        <!-- Like the page title, we can change this header depending on 
        the class name -->
        <h1>{{y_class['name']}}</h1>
        
        <div class="row mb-3">
            <!-- This column displays the parameters/fields for each 
            class -->
            <div class="col col-xs-6 col-sm-6 col-lg-5 col-xl-4">
                <p class="fw-bold m-0">Date:</p>
                <p class="fw-bold m-0">Duration:</p>
                <p class="fw-bold m-0">Yoga Type:</p>
                <p class="fw-bold m-0">Yoga Level:</p>
                <p class="fw-bold m-0">Trainer:</p>
                <p class="fw-bold m-0">Description:</p>
            </div>

            <!-- This column displays the field information for each 
            class, which is pulled from the function that reads in the
            classes.csv file-->
            <div class="col col-xs-6 col-sm-6 col-lg-5 col-xl-4">
                <p class="m-0">{{y_class['date']}}</p>
                <p class="m-0">{{y_class['duration']}}</p>
                <p class="m-0">{{y_class['type']}}</p>
                <p class="m-0">{{y_class['level']}}</p>
                <p class="m-0">{{y_class['trainer']}}</p>
                <p class="m-0">{{y_class['description']}}</p>
            </div>
        </div>
            <!-- Two buttons that allow the user to either edit or delete
            a class; the <class_id> equals the name of the class itself -->
            <a href="{{url_for('edit_class', class_id=y_class['name'])}}" type="button" style="margin-right:5px" class="mb-3 btn btn-primary px-4 gap-4">Edit Class</a>
            <a href="{{url_for('delete_class', class_id=y_class['name'])}}" type="button" class="mb-3 btn btn-danger px-4 gap-4">Delete Class</a>
    </div>
{% endblock %}